.hamburgerMenu{
    transition: background-color 300ms linear;
}

.fadeItem{
    opacity: 0;
    transition: 2s all ease-in-out;
}

.fadein {
    animation: fadeIn 0.5s 1;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}