:root {
  --primary-color: #0a1a12;
  --secondary-color: #143925;
  //   --secondary-color: #245e3e;
  --third-color: #031713;
  --auxiliar-gray: #c0c0c0;

  //Maybe for secondary-color: #143925 #114227
}
