.timeline {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(0, fit-content));
  justify-items: center;
  gap: 15px;
  position: relative;
  &::after {
    display: inline-block;
    margin: 0 20px 8px 0;
    height: var(--height);
    max-height: var(--max-height);
    content: " ";
    text-shadow: none;
    background-color: var(--secondary-green-color);
    width: 2px;
    position: absolute;
    right: 0;
    z-index: 2;
    left: 30px;
    transition: height 1.3s linear;
  }

  @media (width>=1024px) {
    & {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-template-rows: repeat(auto-fit, minmax(0, fit-content));
      &::after,
      &.active::after {
        left: 50%;
      }
    }
  }
}

.timeLineCardLeft {
  opacity: 0;
  transform: translateX(-50%);
  &.active {
    animation: card-entrance-left 800ms ease normal forwards;
  }
  @keyframes card-entrance-left {
    0% {
      transform: translateX(-50%) rotateY(100deg);
      opacity: 0;
    }
    100% {
      transform: translateX(0) rotateY(0deg);
      opacity: 1;
    }
  }
}

.timeLineCardRight {
  opacity: 0;
  &.active {
    animation: card-entrance-right 800ms ease normal forwards;
  }
  @keyframes card-entrance-right {
    0% {
      transform: translateX(50%) rotateY(100deg);
      opacity: 0;
    }
    100% {
      transform: translateX(0) rotateY(0deg);
      opacity: 1;
    }
  }
}
