.about {
  .aboutTextContainer {
    opacity: 0;
    transition: opacity 4s ease;
    &.active {
      opacity: 1;
    }
  }
}

.card {
  opacity: 0;
  &.active {
    left: -1000px;
    animation: card-entrance-left 1s ease-out normal forwards;
    @keyframes card-entrance-left {
      0% {
        transform: translateX(-250px);
      }

      100% {
        left: 0;
        opacity: 1;
        transform: translateX(0);
      }
    }
    @media (width>=768px) {
      animation-duration: 1.2s;
      &:nth-child(1) {
        animation-delay: 2s;
      }
      &:nth-child(2) {
        animation-delay: 1s;
      }
      &:nth-child(3) {
        animation-delay: 0s;
      }
    }
  }
}
