.about {
  .aboutTextContainer {
    opacity: 0;
    transition: opacity 4s ease;
    &.active {
      opacity: 1;
    }
  }
}

.card {
  &.active {
    &:nth-child(1) {
      left: -10000px;
      animation-delay: 0s;
    }
    &:nth-child(2) {
      left: -10000px;
      animation-delay: 1s;
    }
    &:nth-child(3) {
      left: -10000px;
      animation-delay: 2s;
    }

    animation: card-entrance-left 1.2s ease-out normal forwards;
    @keyframes card-entrance-left {
      0% {
        opacity: 0;
        transform: translateX(-250px);
      }

      100% {
        left: 0;
        opacity: 1;
        transform: translateX(0);
      }
    }
    @media (width>=768px) {
      &:nth-child(1) {
        left: -10000px;
        animation-delay: 2s;
      }
      &:nth-child(2) {
        left: -10000px;
        animation-delay: 1s;
      }
      &:nth-child(3) {
        left: -10000px;
        animation-delay: 0s;
      }
    }
  }
}
